<!DOCTYPE html>
<html lang="zh-Hant-TW">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UserPage for Week4 Website</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="..\static\styles.css" />
  </head>

  <body>
    <div class="header">歡迎光臨，這是會員頁</div>
    <main class="wrap layout">
      <section class="function">
        <div class="title">恭喜您，成功登入系統</div>
        <div class="next"><a href="/logout">登出系統</a></div>
      </section>
    </main>
    <script src="..\static\all.js"></script>
  </body>
</html>
