/* 全域邊界盒模型設定 */
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* 全域設定字型，用逗號and連接起來 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Noto Sans", sans-serif;
  font-size: 20px;
}

p,
a,
input,
label,
textarea,
span,
ul,
ol,
li {
  font-size: 20px;
}

body {
  max-width: 1920px;
  width: 100%;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 0 20px;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.hero {
  background-color: #d8ebf9;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  width: 100%;
}


.container {
  width: 1200px;
  margin: 20px auto;
}

.promotions {
  display: grid;
  gap: 20px;

  grid-template-columns: 2fr 1fr;
  grid-template-areas:
    "A A"
    "B C";
  font-family: "Open Sans", sans-serif;
}

.p1 {
  grid-area: A;
  background-color: #e9f3f9;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.p2 {
  grid-area: B;
  background-color: #e9f3f9;
  height: 50px;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.p3 {
  grid-area: C;
  background-color: #e9f3f9;
  height: 50px;
  display: flex;
  align-items: center;
  font-weight: bold;
}


.promotion {
  background-color: #e9f3f9;
  height: 50px;
  display: flex;
  align-items: center;
  font-weight: bold;
}


.proImg {
  width: 80px;
  height: 50px;
}


.gallery {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 200px 200px;
  gap: 20px; /* 欄/列間距 */
  margin-top: 20px;
}

.card {
  text-align: center;
  position: relative; /* 讓內部的絕對定位參照這個容器 */
}

.dog {
  width: 100%;
  height: 100%;
  display: block;
}

.title {
  position: absolute;
  background-color: rgb(45, 45, 225, 0.3);
  bottom: 0;
  width: 100%;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
}

.star {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
}

@media (max-width: 1200px) and (min-width: 601px) {
  body {
    max-width: 1200px;
  }
  .container {
    width: 90vw; /* 佔 90% 螢幕寬 */
    max-width: 1200px;
  }

  /* 外層：兩欄 */
  .promotions {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "A B"
      "C C";
  }


  /* 內容方塊：4 欄等高，最後一排僅 2 格且各 50% */
  .gallery {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 200px; /* 等高 */
    gap: 10px;
  }
  .gallery .card:nth-last-child(2),
  .gallery .card:last-child {
    grid-column: span 2;
  }
}
